<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - KAITOSS</title>
    <link rel="icon" href="~/images/logoNew.png">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          type="text/css">
     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Cairo' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="~/assetsDashBoard/css/style.css">
    <link rel="icon" href="~/img/SRCA.png">
    <!--FontAwosome  CSS---->
    <link rel="stylesheet" href="~/assets/lib/fontawosome/all.min.css">
    <link rel="stylesheet" href="~/assets/lib/fontawosome/light.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <!--DataTable  CSS---->
    <link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
    <!--Toastr  CSS---->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

</head>

<body>

    <div class='dashboard'>
        <div class="dashboard-nav">
            <header>
                <img src="~/images/logo.svg" alt="" width="80" >
             
            </header>
                <partial name="~/Views/Shared/_Identity.cshtml" />
         

        </div>

        <div class='dashboard-app'>
           <partial name="~/Views/Shared/_header_dash.cshtml" />

            <div class='dashboard-content mt-5'>
                <partial name="~/Views/Shared/_Notification.cshtml" />
                @RenderBody()
            </div>
        </div>
        <div class="footer">
            <div class="wrapper">
                <p class="text-center"></p>
            </div>
        </div>

    </div>
    </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/assetsDashBoard/js/dashboard.js"> </script>
    <div id="page-container">
        <div id="content-wrap">
            <!-- all other page content -->
        </div>
        <footer id="footer">
            © 2022
            Saham
        </footer>
    </div>
    <script>
        $(document).ready(function(){
             $('.dashboard-nav-list').find('[href="'+window.location.pathname+'"]').parent().addClass('dashboard-back');
        });

    </script>

    <!-- font -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <!-- ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
     <!--sweetalert2  JS---->
     <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     <!--tinymce  JS---->
    <script src="https://cdn.tiny.cloud/1/s9uv9aosgi70ab9iuq3du56r9m1aw90smmmz5s98d7mv81bf/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <!--Toastr  JS---->
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- icon i -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>